﻿body {
	font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
	font-size: 11px;
	line-height: 1.182;
	font-weight: normal;
	margin:0px;
	color: #45688E;
	
}

#page_layout{
	width:800px;
	padding: 0px;
	margin: 0px auto;
	position: relative;
}

header{
	height:40px;
	background-color: #4d75a3;
}

header img{
	border-width:0;
}

#logo{
	margin:8px 15px;
	float:left;
}

#flags{
	float:right;
	padding-right: 80px;
}

#flags img{
	margin: 10px 3px;
}

#logout{
	color:#e8eff7;
	font-family:verdana;
	font-weight:800;
	position:absolute;
	right:20px;
	top:12px;
}

#main_menu{
	position:absolute;
	top:40px;
	left:0px;
	text-align:center;
	width:100%;
	background-color:#4d75a3;
	color:#fff;
}

#main_menu ul{
	padding:0;
	margin:0;
}

#main_menu li{
	display:inline-block;
	float:left;
	/*text-transform:capitalize;*/
	border:solid 1px #5581b4;
	height:24px;
	width:198px;
	cursor:pointer;
}

#main_menu li:hover{
	background-color:#5581b4;
}

#main_menu li a{
	text-decoration:none;
	position:relative;
	top:5px;
}

.youarehere{
	background-color:#5581b4;
}

#main_menu .two_point_menu li{
	width:49.7%;
}

main{
	padding: 24px 20px 10px;
}

label{
	font-size: 11px;
	font-family: verdana,tahoma,arial,sans-serif,Lucida Sans;
}

input[type=text],input[type=email],input[type=password],input[type=button],input[type=submit],select{
	width:150px;
	padding: 5px 4px 6px;
	margin: 8px 0px 10px;
	color: #000;
	border: 1px solid #C3CBD4;
}

form{
	width:160px;
	padding: 0px;
	margin: 20px auto;
	position: relative;
}

.form_login{margin: 100px auto;}

input[type=submit], input[type=button] {
	width:160px;
	color:#fff;
	background-color:#4d75a3;
	margin-top:4px;
}

#add_book_form #bname{
	width:275px;
}

#add_book_form, #search_book_form{
	border:1px solid #4d75a3;
	border-radius: 25px;
	background-color: #4d75a3;
	width:720px;
	margin:30px 0 10px 20px;
	display:block;
}

#add_book_form form, #search_book_form form{ width:700px;}

#search_book_form{
	display: block;
}

#search_book_form form{
	margin:5px auto;
}

#bauthor{
	width:120px;
}

#bcategory, #search_book_form  input[type=submit]{
	width:100px;
}

#search_book_form #bname{
	width:330px;
}

.column_in_form{
	display:inline-block;
	margin-right:5px;
}

.column_in_form label{ display:block;color:#fff;}

#bname{width:350px;}

.register{
	width:160px;
	text-align:right;
}

a:link,a:hover,a:visited, a:active{
	color:inherit;
	text-decoration:none;
}
a:hover{text-decoration:underline;}

table{
	width:720px;
	border: 1px solid #4d75a3;
	border-collapse: collapse;
	text-align:left;
	margin:20px 20px 10px;
}

tr:hover{
	background-color: #eff4f9;
}

th, td {
    border-bottom: 1px solid #4d75a3;
	
	padding-left:5px;
}

th{
	font-weight:normal;
	height:20px;
}

td{
	height:40px;
}

/*Если захочешь играться с цветами строк таблицы (even/odd):
tr:nth-child(even) {background-color: #f2f2f2}
*/

.order_table td {
	height:20px;
}

.order_table .neworder_bname{
	width:75%;
}

.order_table .order_bname{
	width:70%;
}

.link_right_pos{
	float:right;
	padding-right:10px;
}

.order_table tr:hover{
	background-color: inherit;
}

.order_header{
	background-color: #eff4f9;
	padding-top:10px;
}

.book_author{
	width:100px;
}

.book_name{
	width:400px;
}

.book_name_small{
	width:360px;
}

.book_del{
	width:55px;
}

.book_debt{
	background-color:#ffe6e6;
}

.order_place{
	background-color:#fff;
}

.btn_edit{
	width:18px;
	height:18px;
	display:block;
	background: url(../image/edit.png);
}

.btn_del{
	width:18px;
	height:15px;
	display:block;
	background: url(../image/del.png);
	margin-left:12px;
}

.btn_proc{
	width:18px;
	height:18px;
	display:block;
	background: url(../image/proc.png);
	margin-left:12px;
}

.btn_ban{
	width:18px;
	height:18px;
	display:block;
	background: url(../image/ban.png);
	margin-left:5px;
}

.btn_add{
	width:18px;
	height:18px;
	display:block;
	background: url(../image/add.png);
	margin-left:10px;
}

#a_add_book{
	position:absolute;
	right:40px;
	cursor:pointer;
}

footer{
	height:80px;
	background-color:#4d75a3;
	text-align:center;
	color:#fff;
	margin-top:10px;
}
footer>p{
 padding-top:30px;
}

#granny_container{
	height:242px;
	width:410px;
	margin: 60px 32px 0 40px;
}

#error_granny_img{
	margin-right: 30px;
	float:left;
}

#granny_says{
	padding-top:92px;
	padding-bottom:10px;
	font-family:verdana,tahoma;
}

.error{
	color:#eaf3fd;
	font-size:46px;
	position:absolute;
	right:50px;
	font-family:verdana,tahoma;
}

#form_error{
	margin:0;
	float:right;
}

.text_under_table{
display:inline-block;
	margin-left:20px;
	padding-bottom:20px;
}

#add_book_in_order{
	position:absolute;
	right:40px;
	margin-top:0px;
}

.add_book_in_order_form{
	width:auto;
	margin:0;
	position:static;
}

.add_book_check{
	margin-left:10px;
}